/** {
    border: 1px dashed;
    border-color: #0000FF
}*/

body {
    background-color: #ffffff;
    padding-top: 2.4em;
    margin: 0 0 0 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
.menu_bar {
    position: fixed;
    background-color: #103973;
    width: 100%;
    top: 0em;
    left: 0em;
}
.menu_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu_bar li {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
}

.menu_item {
    color: white;
    font-family: 'Raleway',sans-serif;
    padding-top: .5em;
    padding-bottom: .75em;
    text-align: center;
}
.menu_item:hover {
    background-color: #9ccdff;
    color: #295194;
}

.text {
    margin: 1em;
    font-family: 'Raleway',sans-serif;
}

#opening {
    background-image: url(doe_5643.JPG);
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 40vw;
    margin-bottom: 2em;
    text-align: center;
}
#opening div {
    color: #eecd62;
    font-size: 5em;
    font-family: 'Raleway',sans-serif;
    font-variant: small-caps;
    line-height: 40vw;
}

#color_pallette {
    text-align: center;
}
#color_pallette div {
    display: inline-block;
    border-radius: 40%;
    border: .2em solid black;
    height: 4em;
    width: 4em;
    margin: auto;
}
#color_pallette span {
    line-height: 3.9em;
    vertical-align: middle;
}

#inProgress {
    color: red;
    list-style-type: none;
    text-align: center;
    font-size: 8em;
}

/* pokepalettes.com for color palettes!
    Let's try Empoleon!
    #103973
    #528be6
    #ffffff
    #295194
    #bd8b6a
    #9ccdff
    #eecd62
    #ffe683
    #73a4ee
    #deeeff
    #4a73ac
    #7b5241 */
/*img {
    display: block;
    height: 100px;
    width: 300px;
    margin: auto;
}

p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 18px;
}

div {
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    height: 50px;
    width: 120px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3D59AB;
    font-family: Verdana, sans-serif;
}

span {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}*/