/** {
    border: 1px dashed;
    border-color: #0000FF
}*/

body {
    background-color: #ffffff;
    padding-top: 2.4em;
    margin: 0 0 0 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
.menu_bar {
    position: fixed;
    background-color: #103973;
    width: 100%;
    top: 0em;
    left: 0em;
}
.menu_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu_bar li {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
}
.menu_bar a {
    target-name: new;
    target-new: tab;
}
.menu_item {
    color: white;
    font-family: 'Raleway',sans-serif;
    padding-top: .5em;
    padding-bottom: .75em;
    text-align: center;
}
.menu_item:hover {
    background-color: #9ccdff;
    color: #295194;
}
#me {
    target-name: new;
    target-new: tab;
}
#me:hover {
    cursor: text;
}
.text {
    margin: 1em;
    font-family: 'Raleway',sans-serif;
    padding: 1em 5em 1em 5em;
}

#opening {
    background-color: #9ccdff;
    background-image: url(../images/panoramas/panorama40p.jpg); 
    /*Photo credit goes to the Lawrence Berkeley National Laboratory.
    Â© 2010 The Regents of the University of California, through the Lawrence Berkeley National Laboratory.*/
    background-size: 100%;
/*     background-attachment: fixed; */
    background-repeat: no-repeat;
    width: 100%;
    height: 39vw;
    margin-bottom: 1em;
    text-align: center;
    overflow: hidden;
}
#opening div {
    color: #eecd62;
    font-size: 4em;
    font-family: 'Raleway',sans-serif;
    font-variant: small-caps;
    line-height: 36vw;
}

#links {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}
#links div {
    display: inline-block;
    width: 18em;
    vertical-align: middle;
}

#color_pallette {
    text-align: center;
}
#color_pallette div {
    display: inline-block;
    border-radius: 40%;
    border: .2em solid black;
    height: 4em;
    width: 4em;
    margin: auto;
}
#color_pallette span {
    line-height: 3.9em;
    vertical-align: middle;
}

#inProgress {
    color: red;
    list-style-type: none;
    text-align: center;
    font-size: 8em;
}

/* pokepalettes.com for color palettes!
    Let's try Empoleon!
    #103973
    #528be6
    #ffffff
    #295194
    #bd8b6a
    #9ccdff
    #eecd62
    #ffe683
    #73a4ee
    #deeeff
    #4a73ac
    #7b5241 */